* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  width: 30rem;
  height: 100%;
  padding: 1.4rem;
  border-radius: 18px;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.qr-code {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 2rem;
}

.text {
  margin: 0 0.5rem;
}

.title {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.instruction {
  font-size: 1.5rem;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  margin-bottom: 2rem;
}
